{% extends "base.html" %}
{% block content %}
<h2>Login</h2>
<form method="post">
    <div class="row">
        <div class="col">
            <label>Usuário</label><br>
            <input type="text" name="nome" required>
        </div>
        <div class="col">
            <label>Senha</label><br>
            <input type="password" name="senha" required>
        </div>
    </div>
    <div class="mt-3">
        <button class="btn-primary" type="submit">Entrar</button>
    </div>
</form>
{% endblock %}
